.icon-section {
    background-image: url(public/images/garbage-trucks/james-day-ECyvZuZeLGc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.overlay {
    mix-blend-mode: screen;
}